<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>角色管理</title>
<link href="../../resources/style/page.public.css" rel="stylesheet" />
<link href="../../resources/style/page.table.css" rel="stylesheet" />
<link href="../../resources/style/sys.css" rel="stylesheet" />
<link href="../../resources/xyt-pager/style.css" rel="stylesheet" />
<script src="../../resources/js-plug/jquery/jquery-1.9.1.js"></script>
<script src="../../resources/xyt-pager/pager.js"></script>
<script src="../../resources/js-plug/sys.js"></script>
</head>
<body style="overflow-y: hidden; overflow-x: hidden;">
	<form id="roleForm">
		<!-- BEGIN 内容区-->
		<div class="main-big">
			<div class="main-b-box">
				<!-- BEGIN table组件-->
				<div class="main-b-contentbox">
					<div class="contentbox-title-nav">
						<div class="navigations">
							<ul>
								<li><a href="#">首页</a> <span>&gt;</span></li>
								<li><a href="#" id="systemMenuName">系统管理</a> <span>&gt;</span></li>
								<li><a href="#">角色管理</a></li>
							</ul>
						</div>
					</div>
					<div class="contentbox-body">
						<div class="table-query"  permissionId="sys-role-search">
							<div class="table-group query-inline-num3">
								<input type="text" id="name" name="name" value="" placeholder="角色名" maxlength="25"
									onchange="change()" onkeydown="change()" /> <input type="hidden" name="roleType"
									id="roleType" />
								<button type="button" id='but-search' onclick="loadList()" permissionId="sys-role-search" >查询</button>
								<button type="button" id="resetButton"  permissionId="sys-role-search" >重置</button>
							</div>
						</div>
						<div class="table-toolbar">
							<div class="btn-group">
								<button type="button" id="addRole" class="btn green perm" permissionId="sys-role-insert">
									新增角色 <i class="icon-plus"></i>
								</button>
							</div>
						</div>
						<div class="table-scrollable">
							<div class="table-wrapper">
								<table class="table table-striped table-hover table-bordered">
									<thead>
										<tr>
											<th>角色名</th>
											<th>角色状态</th>
											<th style="width: 300px;">备注</th>
											<th class="operate4">操作</th>
										</tr>
									</thead>
									<tbody id="dataContent">
									</tbody>
								</table>
							</div>
						</div>
						<div class="page-scrollable">
							<div class="table-pages">
								<div id="xyt-pager"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		$(document).ready(function() {
			createPager("loadList", "xyt-pager");
			
			/* loginUserType = window.top.getLoginUser().user.userType;
			$("#roleType").val(loginUserType);
			if (window.top.getLoginUser().userAccount === true) {
				$("#systemMenuName").text("用户管理");
			} */
			
			$("#addRole").click(function() {
				var temp_url = getContextPath() + "/views/sys/role/add.html";
				_Dialog('新增角色', temp_url, loadList);
			});
			
			loadList();
			
			//搜索框初始为灰
			$(".table-group select").css({
				"color" : "gray"
			});
			$(".table-group input").css({
				"color" : "gray"
			});
			$("input").addClass("placeholder");
			$("#roleForm").on("keyup", function(e) {
				if (e.which == 13) {
					loadList();
				}
			});
			$("#resetButton").click(function() {
				$("#roleForm")[0].reset();
				$('[placeholder]').focusout();
				$(".table-group input").css({
					"color" : "gray"
				});
				loadList();
			});
		});
		
		function loadList() {
			topLoading();
			$.post(getContextPath() + "/api/sys/role/search", $("#roleForm").serialize(), function(resultBean, status, request) {
				topLoaded();
				if (!handleAjaxRequest(resultBean, status, request)) {
					return;
				}
				$("#dataContent").html("");
				var beanList = resultBean.data.beanList;
				var bean = "";
				var s = beanList.length;
				for (var i = 0; i < s; i++) {
					bean = beanList[i];
					var opt = "";
					if(bean.id != "super_admin"){ //不是超级管理员
						opt += "<a href='javascript:void(0);' data=" + bean.id + "  class='permission' permissionId='sys-role-getRoleMenus' >分配权限</a>";
						
						if(bean.id != "system_admin"){ //不是系统管理员
							opt += "<a href='javascript:void(0);' class='editData' data='" + bean.id + "' permissionId='sys-role-update' >修改</a>";
							opt += "<a href='javascript:void(0);' class='delData' data='" + bean.id + "' permissionId='sys-role-delete' >删除</a>";
						}
					}
					appendTrToTBody(i, "dataContent", new Array(bean.name, bean.statusName, bean.remark, opt));
				}

				setAjaxPagerValues("loadList", resultBean.data.dataSize, resultBean.data.pageSize, resultBean.data.currentPage);

				$(".permission").click(function() {
					var id = $(this).attr("data");
					var temp_url = getContextPath() + "/views/sys/role/permission.html?id=" + id;
					_Dialog('分配权限', temp_url, loadList);
				});
				
				$(".editData").click(function() {
					var id = $(this).attr("data");
					var temp_url = getContextPath() + "/views/sys/role/edit.html?id=" + id;
					_Dialog('修改角色', temp_url, loadList);
				});
				
				$(".delData").click(function() {
					var id = $(this).attr("data");
					_confirmDialog("亲，你确定要删除吗？", "删除温馨提示", function(e) {
						if (e) {
							$.post(getContextPath() + "/api/sys/role/delete", "id=" + id, function(resultBean, status, xhRequest) {
								topLoaded();
								if (!handleAjaxRequest(resultBean, status, xhRequest))
									return;
								if (resultBean.success) {
									_message('删除成功', loadList);
								} else {
									_message('删除失败');
								}
							}, 'json');
						}
					});
				});
				checkPermission();
			}, 'json');
		}
	</script>
</body>
</html>