<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjj.anes.dao.sys.DictDao">
	
	<!-- 查询列名 -->
	<sql id="selectColumns">
		ID,
		CLS_CODE as clsCode,
		CLS_NAME as clsName,
		CODE,
		NAME,
		STATUS,
		REMARK,
		CREATOR,
		CREATE_DT as createDt,
		UPDATER,
		UPDATE_DT as updateDt	
	</sql>
	
	<select id="getUseableList" resultType="dict">
		select <include refid="selectColumns"/> from T_SYS_DICT where STATUS='ON'
	</select>
	
</mapper>