<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjj.anes.dao.sys.MenuDao">

	<sql id="selectColumns">
		M.ID AS id,
		M.NAME AS name,
		M.PARENT_ID AS parentId,
		M.URI AS uri,
		M.ORDER_NO AS orderNo,
		M.STATUS AS status,
		M.CREATOR AS creator,
		M.CREATE_DT AS createDt,
		M.UPDATER AS updater,
		M.UPDATE_DT AS updateDt,
		M.REMARK AS remark
	</sql>
	
	<!-- 插入列名 -->
	<sql id="insertColumns">
		<trim suffix="" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="name != null and name != ''">name,</if>
			<if test="parentId != null and parentId != ''">parent_id,</if>
			<if test="uri != null and uri != ''">uri,</if>
			<if test="orderNo != null and orderNo != ''">order_no,</if>
			<if test="status != null and status != ''">status,</if>
			<if test="creator != null and creator != ''">creator,</if>
			<if test="createDt != null and createDt != ''">create_dt,</if>
			<if test="updater != null and updater != ''">updater,</if>
			<if test="remark != null and remark != ''">remark,</if>
			<if test="updateDt != null and updateDt != ''">update_dt</if>
		</trim>
	</sql>
	<!-- 插入列值 -->
	<sql id="insertValues">
		<trim suffix="" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="parentId != null and parentId != ''">#{parentId},</if>
			<if test="uri != null and uri != ''">#{uri},</if>
			<if test="orderNo != null and orderNo != ''">#{orderNo},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="creator != null and creator != ''">#{creator},</if>
			<if test="createDt != null and createDt != ''">#{createDt},</if>
			<if test="updater != null and updater != ''">#{updater},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="updateDt != null and updateDt != ''">#{updateDt}</if>
		</trim>
	</sql>
	
	<sql id="updateColumns">
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="name != null and name != ''">NAME=#{name},</if>
			<if test="parentId != null and parentId != ''">PARENT_ID=#{parentId},</if>
			<if test="parentId == null or parentId == ''">PARENT_ID=NULL,</if>
			<if test="uri != null and uri != ''">URI=#{uri},</if>
			<if test="uri == null or uri == ''">URI=NULL,</if>
			<if test="orderNo != null and orderNo != ''">ORDER_NO=#{orderNo},</if>
			<if test="orderNo == null or orderNo == ''">ORDER_NO=NULL,</if>
			<if test="status != null and status != ''">STATUS=#{status},</if>
			<if test="creator != null and creator != ''">CREATOR=#{creator},</if>
			<if test="createDt != null and createDt != ''">CREATE_DT=#{createDt},</if>
			<if test="updater != null and updater != ''">UPDATER=#{updater},</if>
			<if test="remark != null and remark != ''">REMARK=#{remark},</if>
			<if test="remark == null or remark == ''">REMARK=NULL,</if>
			<if test="updateDt != null and updateDt != ''">UPDATE_DT=#{updateDt}</if>
		</set>
	</sql>
	
	<insert id="insert" parameterType="menu">
		INSERT INTO t_sys_menu(
		<include refid="insertColumns" />
		)
		VALUES(
		<include refid="insertValues" />
		)
	</insert>

	<update id="update" parameterType="menu">
		<if test="id != null">
			UPDATE T_SYS_MENU
			<include refid="updateColumns" />
			WHERE ID = #{id}
		</if>
	</update>

	<!-- 删除一条记录，及其关联表中的相关记录 -->
	<delete id="deleteMenuAndRel">
		DELETE FROM t_sys_role_menu WHERE menu_id=#{id};
		DELETE FROM t_sys_permission WHERE menu_id=#{id};
		DELETE FROM t_sys_menu WHERE id=#{id}
	</delete>

	<select id="listAll" resultType="menu">  
        SELECT
        <include refid="selectColumns" /> 
        FROM T_SYS_MENU M  
	</select>
	
	<!-- 根据用户ID得到树形菜单 -->
	<select id="getMenusByUser" resultType="menu">
		SELECT <include refid="selectColumns"/> FROM t_sys_menu M
		WHERE M.id IN
		(SELECT RM.menu_id FROM t_sys_role_menu RM, t_sys_user U 
		WHERE U.id=#{userId} AND RM.role_id=U.role_id)
	</select>
	
	<!-- =======================有用分割线======================= -->
	
	<delete id="delete" parameterType="string">
		<if test="_parameter != null">
			UPDATE T_SYS_MENU SET STATUS = 'DEL' WHERE ID IN (#{_parameter})
		</if>
	</delete>

	<select id="select" parameterType="string" resultType="menu">
		SELECT
		<include refid="selectColumns" />
		FROM T_SYS_MENU M WHERE M.ID=#{id}
	</select>


	
	<!-- 获取树形菜单 -->
	<select id="loadTreeMenus" resultType="menu">
		SELECT
		<include refid="selectColumns"/> 
		FROM T_SYS_MENU M WHERE M.STATUS != 'DEL' ORDER BY A.ORDER_NO
	</select>
	
	<!-- 根据角色ID得到树形菜单 -->
	<select id="getTreeMenusByRole" parameterType="string" resultType="menu">
		SELECT 
		<include refid="selectColumns"/>
		FROM T_SYS_MENU M,T_SYS_ROLE_MENU B,T_SYS_ROLE C WHERE M.STATUS = 'DEL' 
		AND B.ROLE_ID = C.ID AND C.STATUS = 'ON'
		AND M.ID = B.MENU_ID AND B.ROLE_ID = #{roleId} ORDER BY M.ORDER_NO
	</select>
	
	<!-- 根据用户ID得到树形菜单 -->
	<select id="getTreeMenusByUser" parameterType="map" resultType="menu">
			SELECT 
		 DISTINCT <include refid="selectColumns"/> 
		 <!-- FROM (SELECT * FROM T_SYS_MENU WHERE STATUS='1' AND CLIENT=#{client}) A 
       JOIN T_SYS_ROLE_MENU B ON(A.ID=B.MENU_ID)
       JOIN (SELECT ID FROM T_SYS_ROLE WHERE STATUS='1') D ON(D.ID=B.ROLE_ID)
       JOIN (SELECT ROLE_ID FROM T_SYS_ROLE_USER WHERE USER_ID=#{userId}) C ON(C.ROLE_ID=D.ID) ORDER BY A.ORDER_NO -->
		         FROM T_SYS_MENU M
				   RIGHT JOIN (SELECT TSRM.MENU_ID
				                 FROM T_SYS_ROLE_MENU TSRM
				                RIGHT JOIN (SELECT TSR.ID
				                             FROM T_SYS_ROLE TSR
				                            WHERE TSR.STATUS = 'ON'
				                              AND TSR.ID IN
				                                  (SELECT TSRU.ROLE_ID
				                                     FROM T_SYS_ROLE_USER TSRU
				                                    WHERE TSRU.USER_ID =#{userId})) T1
				                   ON T1.ID = TSRM.ROLE_ID) T
				      ON M.ID = T.MENU_ID
				   WHERE M.STATUS = 'ON' <!-- AND A.CLIENT =#{client} --> ORDER BY M.ORDER_NO
	</select>
	
	<select id="getChildrenMenus" parameterType="string" resultType="menu">
		SELECT
		<include refid="selectColumns"/>
		FROM T_SYS_MENU M WHERE 
		(M.PARENT_ID IS NULL OR M.PARENT_ID = #{_parameter})
		AND A.STATUS = 'ON'
		ORDER BY ORDER_NO
	</select>
	
	<!-- 计算该地区子菜单的个数 -->
	<select id="countChildren" parameterType="string" resultType="int">
		SELECT count(0) FROM T_SYS_MENU WHERE PARENT_ID=#{id} AND STATUS!='DEL'
	</select>
	
	<!-- 计算有效的子菜单个数 -->
	<select id="countValidChildren" parameterType="string" resultType="int">
		SELECT count(*) FROM T_SYS_MENU WHERE PARENT_ID=#{parentId} AND STATUS='ON'
	</select>
	
	<delete id="deleteUserTrailForMenus" parameterType="list">
        <![CDATA[
            delete from T_SYS_USER_TRAIL_LOG where MENU_ID in
        ]]>
        <foreach collection="list" item="menuIdList"  open="(" separator="," close=")">  
            #{menuIdList}
         </foreach>
	</delete>
	
	<delete id="deleteRolePermissionForMenus" parameterType="list">
        <![CDATA[
            delete from T_SYS_ROLE_PERMISSION where PERMISSION_ID in(SELECT p.ID from T_SYS_MENU m,T_SYS_PERMISSION p where m.ID=p.MENU_ID and m.ID in
        ]]>
        <foreach collection="list" item="menuIdList"  open="(" separator="," close=")">  
            #{menuIdList}
         </foreach>
         )
	</delete>
	
	<delete id="deleteRoleMenuForMenus" parameterType="list">
	    <![CDATA[
        	delete from T_SYS_ROLE_MENU where MENU_ID in
        ]]>
        <foreach collection="list" item="menuIdList"  open="(" separator="," close=")">  
            #{menuIdList}
         </foreach>
	</delete>
	
	<delete id="deletePermissionForMenus" parameterType="list">
        <![CDATA[
            delete from T_SYS_PERMISSION where MENU_ID in
        ]]>
        <foreach collection="list" item="menuIdList"  open="(" separator="," close=")">  
            #{menuIdList}
         </foreach>
	</delete>
	
	<delete id="deleteMenus" parameterType="list">
        <![CDATA[
            delete from T_SYS_MENU where ID in
        ]]>
        <foreach collection="list" item="menuIdList"  open="(" separator="," close=")">  
            #{menuIdList}
         </foreach>
	</delete>
</mapper>