<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjj.anes.dao.sys.UserDao">

	<sql id="selectColumns">
		A.ID,
		A.CODE,
		A.PASSWORD,
		A.NAME,
		A.STATUS,
		A.USER_TYPE as userType,
		A.REMARK,
		A.UNLOCK_DT as unlockDt,
		A.creator,
		A.CREATE_DT as createDt,
		A.UPDATER,
		A.UPDATE_DT as updateDt,
	</sql>
	
	<sql id="searchColumns">
		A.ID,
		A.CODE,
		A.PASSWORD,
		A.NAME,
		A.STATUS,
		A.USER_TYPE as userType,
		A.REMARK,
		A.UNLOCK_DT as unlockDt,
		A.creator,
		A.CREATE_DT as createDt,
		A.UPDATER	,
		A.UPDATE_DT as updateDt,
	</sql>
	
	<!-- 插入列名 -->
	<sql id="insertColumns">
		<trim suffix="" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="code != null">CODE,</if>
			<if test="name != null">NAME,</if>
			<if test="password != null">PASSWORD,</if>
			<if test="status != null">STATUS,</if>
			<if test="userType != null">USER_TYPE,</if>
			<if test="roleId != null">role_id,</if>
			<if test="remark != null">REMARK,</if>
			<if test="unlockDt != null">UNLOCK_DT,</if>
			<if test="creator != null">creator,</if>
			<if test="createDt != null">CREATE_DT,</if>
			<if test="updater != null">UPDATER,</if>
			<if test="updateDt != null">UPDATE_DT,</if>	
		</trim>
	</sql>
	<!-- 插入列值 -->
	<sql id="insertValues">
		<trim suffix="" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="code != null">#{code},</if>
			<if test="name != null">#{name},</if>
			<if test="password != null">#{password},</if>
			<if test="status != null">#{status},</if>
			<if test="userType != null">#{userType},</if>
			<if test="roleId != null">#{roleId},</if>
			<if test="remark != null">#{remark},</if>
			<if test="unlockDt != null">#{unlockDt},</if>
			<if test="creator != null">#{creator},</if>
			<if test="createDt != null">#{createDt},</if>
			<if test="updater != null">#{updater},</if>
			<if test="updateDt != null">#{updateDt},</if>
		</trim>
	</sql>
	<sql id="updateColumns">
		<set>
			<if test="name != null">NAME=#{name},</if>
			<if test="password != null and password !=''">PASSWORD=#{password},</if>
			<if test="status != null">STATUS=#{status},</if>
			<if test="userType != null">USER_TYPE=#{userType},</if>
			<if test="remark != null">REMARK=#{remark},</if>
			<if test="unlockDt != null">UNLOCK_DT=#{unlockDt},</if>
			<if test="updater != null">UPDATER=#{updater},</if>
			<if test="updateDt != null">UPDATE_DT=#{updateDt},</if>
		</set>
	</sql>
	
	<sql id="searchWhere">
		<where>
		<if test="entity.searchName != null and entity.searchName != '' "> AND (A.CODE LIKE CONCAT('%',REPLACE(REPLACE(TRIM(#{entity.searchName}), '%', '/%'), '_', '/_'), '%') ESCAPE '/' or A.NAME LIKE CONCAT('%',REPLACE(REPLACE(TRIM(#{entity.searchName}), '%', '/%'), '_', '/_'), '%') ESCAPE '/' )</if>
		<if test="entity.status != null and entity.status != ''">AND A.STATUS=#{entity.status}</if>
		</where>
	</sql>
	
	<insert id="insert"  parameterType="user">
		INSERT INTO T_SYS_USER(
		<include refid="insertColumns" />
		)
		VALUES(
		<include refid="insertValues" />
		)
	</insert>
	
	<!-- id是否已经存在：0：不存在；>0：存在 -->
	<select id="exists" resultType="int">
		SELECT COUNT(*)	FROM t_sys_user WHERE id=#{id}
	</select>
	
	<select id="getUserByCode" parameterType="string" resultType="user">
		SELECT <include refid="selectColumns" />
		FROM T_SYS_USER A WHERE A.code=#{code} AND A.status='ON' 
	</select>
	
	<select id="getUserPermissionIds" parameterType="map" resultType="string">
		SELECT RP.* from t_sys_user U, t_sys_role R, t_sys_role_permission RP
		WHERE U.id=#{userId} AND R.id=U.role_id AND RP.role_id=R.id
	</select>	
	<!-- =======================有用分割线======================= -->
	
	<insert id="batchInsert" parameterType="list">
		INSERT INTO T_SYS_USER(
			ID,CODE,PASSWORD,NAME,STATUS,USER_TYPE,REMARK,
			creator,CREATE_DT
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id},#{item.code},#{item.password},#{item.name},#{item.status},#{item.userType},#{item.remark},#{item.creator},#{item.createDt})
		</foreach>
	</insert>

	<update id="update" parameterType="user">
		<if test="id != null">
			UPDATE T_SYS_USER
			<include refid="updateColumns" />
			WHERE ID=#{id}
		</if>
	</update>

	<update id="delete" parameterType="string">
		 UPDATE T_SYS_USER SET STATUS = "DEL" WHERE ID = #{id}
	</update>

	<select id="select" parameterType="string" resultType="user">
		SELECT
		<include refid="selectColumns" />
		FROM (SELECT * FROM T_SYS_USER WHERE ID=#{id} ) A 
	</select>


	<select id="search" parameterType="pagerEntity" resultType="user"> 
		SELECT	<include refid="searchColumns" /> 
		FROM (SELECT * FROM T_SYS_USER ) A LEFT JOIN T_SYS_REGION B ON(A.REGION_ID=B.ID) 
		<include refid="searchWhere" /> ORDER BY A.CREATE_DT DESC 
		 <if test="entity.needPage == true">
		 	limit #{offset}, #{pageSize}
		 </if>
	</select>
	
	<select id="count" parameterType="pagerEntity"
		resultType="long">
		SELECT count(1) FROM (SELECT * FROM T_SYS_USER ) A LEFT JOIN T_SYS_REGION B ON(A.REGION_ID=B.ID)
		<include refid="searchWhere" />
	</select>
	
	<select id="countCode" parameterType="string" resultType="int">
		SELECT count(1) FROM T_SYS_USER where CODE=#{code}
	</select>


	
	<select id="getUserByCheckOrgId" parameterType="string" resultType="user">
		SELECT <include refid="selectColumns"/> FROM T_SYS_USER A WHERE UNIT_ID=#{unitId}
	</select>
	<!-- 校验用户别名是否重复 -->
	<select id="countNickName" resultType="int">
		SELECT COUNT(1) FROM T_SYS_USER A WHERE A.NICKNAME = #{nickName,jdbcType=VARCHAR} 
		<if test="id != null and id != ''">
			AND A.ID=#{id,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getUserByUnitId" parameterType="string"
		resultType="user">
		SELECT <include refid="selectColumns" />
		FROM (SELECT * FROM T_SYS_USER WHERE UNIT_ID=#{unitId}) A limit 1
	</select>


	
	<update id="updateMerchantName" parameterType="map">
		UPDATE T_SYS_USER <!-- set MERCHANT_NAME=#{name} --> <!-- where MERCHANT_ID=#{id}  -->
	</update>
	
	<update id="updatePassword" parameterType="user" >
		UPDATE T_SYS_USER SET PASSWORD=#{password} WHERE ID=#{id} 
	</update>
	
	<update id="lockUser" parameterType="map">
		UPDATE T_SYS_USER set STATUS=#{status},UNLOCK_DT=#{unlockDt}  where CODE=#{code} 
	</update>
	
	<update id="unlockUsers" parameterType="map">
		<![CDATA[UPDATE T_SYS_USER set STATUS=#{status},UNLOCK_DT=null  where STATUS=#{lockStatus} and UNLOCK_DT<=#{dt}]]>
	</update>
	
	<update id="modifypwd" parameterType="user" >
		UPDATE T_SYS_USER SET PASSWORD=#{newPassword} WHERE ID=#{id} and PASSWORD=#{password} 
	</update>
	
	<update id="updateUserByUnitId" parameterType="user" >
		UPDATE 
			T_SYS_USER 
			<set> 
				 <if test="name != null" >NAME = #{name,jdbcType=VARCHAR}, </if>
				 <if test="unitName != null" >UNIT_NAME = #{unitName,jdbcType=VARCHAR}, </if>
				 <if test="regionId != null" >REGION_ID = #{regionId,jdbcType=VARCHAR}, </if>
				 <if test="updater != null" >UPDATER = #{updater,jdbcType=VARCHAR}, </if>
				 <if test="updateDt != null" >UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP} </if>
			</set>
		WHERE UNIT_ID=#{unitId} and STATUS='ON'
	</update>
	<update id="updateUnlockDtById" parameterType="user" >
		UPDATE 
			T_SYS_USER SET UNLOCK_DT= #{unlockDt,jdbcType=TIMESTAMP}
		WHERE ID=#{id}
	</update>
	
	<!-- 批量修改状态 -->
	<update id="batchUpdateStatus">
		UPDATE T_SYS_USER SET STATUS = #{status,jdbcType=VARCHAR} WHERE ID IN 
		 <foreach collection="ids" open="(" separator="," close=")" index="index" item="item">
	     	#{item}
	     </foreach>
	</update>
	
</mapper>