<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../resources/style/page.form.css" rel="stylesheet" />
<link href="../resources/style/jqueryValidate/jquery.validate.css" rel="stylesheet" />
<script src="../resources/js-plug/jquery.validate/jquery.validate.js"></script>
<script src="../resources/js-plug/jquery.validate/jquery.validate.method.js"></script>
<script src="../resources/js-plug/md5.js"></script>
<!-- 树型选择器样式 -->
<link href="../resources/xyt-select/style.css" rel="stylesheet" />
<!-- 树型选择器 -->
<!-- <script src="../resources/js-plug/jquery.jstree.js"></script>
<script src="../resources/xyt-select/select.js"></script> -->
<style type="text/css">
.txt {
	width: 161px;
}

.selectDiv ul {
	width: 178px;
}

label.orgError {
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	padding-bottom: 2px;
}
</style>
<script type="text/javascript">
	function checkPwdLevlFn() {
		var str = $("#password").val();
		var pwdSPAN = $("#pwdSPAN");
		if (containsAToZ(str) || containsNumber(str)) {
			pwdSPAN.html("弱");
		} else if (containsX(str)) {
			pwdSPAN.html("中");
		} else {
			pwdSPAN.html("强");
		}
	}
	// 提示密码等级
	jQuery.validator.addMethod("checkPwdLevl", function(value, element) {
		if (value.length<6||value.length>20) {
			$("#pwdSPAN").html("");
			return true;
		} else {
			checkPwdLevlFn();
			return true;
		}
	}, "");
	// 只含有字母
	function containsAToZ(str) {
		var aToZ = /^[a-zA-Z]+$/;
		var r = false;
		if (aToZ.test(str)) {
			r = true;
		}
		return r;
	}
	// 只含有数字
	function containsNumber(str) {
		var numbers = /^[0-9]+$/;
		var r = false;
		if (numbers.test(str)) {
			r = true;
		}
		return r;
	}
	// 既含有数字又含有字母
	function containsX(str) {
		var aNumber = /^[a-zA-Z0-9]+$/;
		var r = false;
		if (aNumber.test(str)) {
			r = true;
		}
		return r;
	}
	function changeUserType() {
		if ($("#userType").val() == "SYS") {
			$("#codeDiv").show();
			$("#regionDiv").hide();
		} else {
			$("#codeDiv").hide();
			if($("#userType").val()=="OPERATION"){
				$("#regionDiv").hide();
			}else{
				$("#regionDiv").show();
			}
			
		}
	}
</script>
</head>
<body>
	<div class="divCover"></div>
	<div class="middle-main">
		<div class="msg"></div>
		<div class="listtab">
			<form action="" id="userForm" method="post">
				<input id="id" name="id" type="hidden">
				<div class="form-blog">
					<div>
						<div class="row" id="userTypeDiv">
							<label class="labeltext xing">用户类型：</label>
							<div class="middleradio">
								<select name="userType" id="userType" data="getLocalDict('USER_TYPE')" iswithblank="true" blanklabel="类型选择">
								</select>
								<b style="color: red;">*</b>
							</div>
						</div>
						<div class="row" id="roleDiv">
							<label class="labeltext xing">所属角色：</label>
							<div class="middleradio">
								<select name="roleId" id="roleId" data="/api/authx/getRoleList" iswithblank="true" blanklabel="角色选择">
								</select>
								<b style="color: red;">*</b>
							</div>
						</div>
						<div class="row" id="codeDiv">
							<label class="labeltext xing">用户名：</label> <input type="text" name="code" maxlength="20"
								id="code" class="middleinput" /> <input type="text" style="display: none;" /> 
								<b style="color: red;" class="edit_hide">*</b>
						</div>
						<div class="row" style="display: none;">
							<label class="labeltext xing">密码：</label> <input type="password" name="password"
								maxlength="20" id="password" value="12345678" class="middleinput">
								<b style="color: red;" class="edit_hide">*</b> <span id="pwdSPAN" style="color: green;"></span>
						</div>
						<!--  <div class="row">
                            <label class="labeltext xing">确认密码：</label>
                            <input type="password" name="repassword"  maxlength="20" id="repassword" class="middleinput" /><b style="color: red;" class="edit_hide">*</b>
                        </div> -->
						<div class="row">
							<label class="labeltext xing">姓名：</label> <input type="text" name="name" id="name"
								maxlength="15" class="middleinput" /><b style="color: red;">*</b>
						</div>
					</div>
					<div class="row">
						<label class="labeltext xing">状态：</label>
						<div class="middleradio">
							<!-- <select class="middleinput" id="status" name="status">
								<option value="1">正常</option>
								<option value="0">暂停</option>
							</select> -->
							<select id="status" name="status" data="getLocalDict('USER_STATUS')" iswithblank="true" blanklabel="状态选择">
							</select>
							<b style="color: red;">*</b>
						</div>
					</div>
					<div class="row">
						<label class="labeltext">备注：</label>
						<textarea class="middletextarea" id='remark' rows="5" name='remark' maxlength="50"
							style="font-size: 13px"></textarea>
						<label class="textarea-tip">(还可以输入 <var style="color: #C00">50</var>个字符)
						</label>
					</div>
					<div class="row">
						<span style="color: gray;">用户初始密码为：12345678。</span>
					</div>
				</div>
				<div class="form-save">
					<span class="but" style="width: 85px;">
						<button type="submit" id="saveButton" style="width: 80px;">
							<div class="but-left"></div>
							<div class="but-center">保存</div>
							<div class="but-right"></div>
						</button>
					</span> <span class="but" style="width: 85px;">
						<button type="button" class="but-close" style="width: 80px;">
							<div class="but-left"></div>
							<div class="but-center">取消</div>
							<div class="but-right"></div>
						</button>
					</span>
					<!--- <a href="#" class="back">返回</a>-->
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			//取参数值
			$("#roleId").focus();
			//浏览器记住密码功能会自动给字段赋值,造成新增用户有值现象
			$("#code").val("");
			$("#password").val("");
			countWord();
			var validateConfige = {
				rules : {
					name : {
						"required" : true,
						"maxlength" : 15
					},
					code : {
						"required" : true,
						maxlength : 20,
						remote : {
							url : getContextPath() + "/api/sys/user/checkCode",
							type : "post"
						}
					},
					userType : {
						required : true
					},
					status : {
						required : true
					},
					merchantName : {
						"maxlength" : 100,
					},
					password : {
						"checkPwdLevl" : true,
						"minlength" : 6,
						"maxlength" : 20,
						"required" : true
					},
					remark : {
						"required" : false,
						"maxlength" : 50
					}
				},
				messages : {
					code : {
						remote : "此用户名已存在!"
					},
					password : {
						minlength : "密码长度在6-20位之间",
						maxlength : "密码长度在6-20位之间"
					}
				},
				submitHandler : function() {
						$("#saveButton").attr("disabled", true);
						//$("#password").val(encryptByMd5($("#password").val()));
						$("#password").val(encryptByMd5("12345678"));
						$.post(getContextPath() + "/api/sys/user/insert", $("#userForm").serialize(), function(resultBean, status, xhRequest) {
							var $elDialogdialog = $(".dialog-backdrop");
							$elDialogdialog.remove();
							$("#modalDialog").remove();
							topLoaded();
							if (!handleAjaxRequest(resultBean, status, xhRequest)){
								$("#saveButton").attr("disabled", false);
								return;
							}	
							if (resultBean.success) {
								_showMessage("开户成功！用户登录账号为：" + resultBean.message + "，初始密码为：12345678", "success", 30000);
								//_tipDialog("开户成功！用户登录账号为：" + resultBean.message + "，初始密码为：12345678","开户成功",500);
							} else {
								_showMessage("开户失败！");
							}
							//window.parent.loadUser();
							$("#iframeid").contents().find("#but-search").click();
						}, 'json'); 
				}
			};
			$("#userForm").validate(validateConfige);
			initXytItem();
			$("#status").val("ON");
			$("#userType").val("COM");
		});
	</script>
</body>
</html>